@tailwind base;
@tailwind components;
@tailwind utilities;

.cl-userButtonTrigger {
  @apply hover:opacity-80;
}

.cl-card.cl-signIn-start,
.cl-card.cl-signUp-start {
  @apply shadow-none;
}

.cl-dividerText {
  @apply dark:text-secondary;
}

.cl-dividerLine,
.cl-navbarButton.cl-active {
  @apply dark:bg-secondary;
}

.cl-userButtonPopoverCard {
  @apply dark:border-secondary;
}

.cl-navbarButton {
  @apply dark:hover:bg-secondary;
}

.my-profile .cl-userProfile-root {
  @apply w-full;
}

.cl-navbar {
  @apply border-r border-secondary;
}

.cl-userButtonPopoverActionButton {
  @apply dark:hover:bg-secondary;
}

.cl-accordionTriggerButton p {
  @apply dark:text-secondary-foreground;
}

.cl-page p,
.cl-form p,
.cl-formFieldLabel,
.cl-footerActionText,
.cl-breadcrumbsItemBox a,
.cl-profileSectionContent p,
.cl-avatarImageActionsUpload,
.cl-userPreviewTextContainer p,
.cl-userButtonPopoverActionButton svg,
.cl-userButtonPopoverActionButton span {
  @apply dark:text-foreground;
}

.my-profile .cl-userProfile-root .cl-card {
  @apply rounded-lg shadow w-full max-w-full;
}

.cl-footerActionLink {
  @apply dark:text-slate-500/50 dark:hover:text-foreground;
}

.cl-socialButtonsBlockButton {
  @apply dark:hover:bg-secondary dark:text-foreground dark:border-secondary;
}

.cl-profileSectionContent button {
  @apply focus:shadow-none focus:ring-2 ring-zinc-900/50 dark:text-foreground dark:hover:bg-secondary;
}

.cl-formButtonPrimary {
  @apply dark:disabled:bg-secondary-foreground dark:disabled:text-primary-foreground dark:bg-secondary dark:hover:bg-slate-700 dark:text-secondary-foreground;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --success: 142 70.6% 45.3%;
    --success-foreground: 0 0% 98%;

    --ring: 240 5% 64.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
