@tailwind base;
@tailwind components;
@tailwind utilities;

.cl-card.cl-signIn-start,
.cl-card.cl-signUp-start {
  @apply shadow-none;
}

.cl-card {
  @apply dark:bg-background;
}

.cl-dividerText {
  @apply dark:text-secondary;
}

.cl-dividerLine,
.cl-navbarButton.cl-active {
  @apply dark:bg-secondary;
}

.cl-navbar {
  @apply dark:bg-slate-950;
}

.cl-headerTitle {
  @apply dark:text-foreground;
}

.cl-headerSubtitle {
  @apply dark:text-foreground;
}

.cl-profileSectionTitleText {
  @apply dark:text-foreground;
}

.cl-navbarButton {
  @apply dark:hover:bg-secondary;
}

.my-profile .cl-userProfile-root {
  @apply w-full;
}

.cl-navbar {
  @apply border-r border-secondary;
}

.cl-userButtonPopoverActionButton {
  @apply dark:hover:bg-secondary;
}

.cl-formFieldInputShowPasswordButton {
  @apply focus:shadow-none;
}

.cl-badge {
  @apply text-white bg-zinc-900/50;
}

.cl-accordionTriggerButton p {
  @apply dark:text-secondary-foreground;
}

.cl-page p,
.cl-form p,
.cl-formFieldLabel,
.cl-footerActionText,
.cl-breadcrumbsItemBox a,
.cl-navbarMobileMenuButton,
.cl-profileSectionContent p,
.cl-avatarImageActionsUpload,
.cl-userPreviewTextContainer p,
.cl-userButtonPopoverActionButton svg,
.cl-userButtonPopoverActionButton span {
  @apply dark:text-foreground;
}

.cl-avatarImageActionsUpload {
  @apply text-zinc-900/90;
}

.my-profile .cl-userProfile-root .cl-card {
  @apply rounded-lg shadow w-full max-w-full;
}

.cl-navbarMobileMenuButton,
.cl-accordionTriggerButton {
  @apply focus:shadow-none focus:ring-2 ring-zinc-900/50;
}

.cl-userButtonTrigger {
  @apply focus:shadow-none focus:ring ring-zinc-900/50 hover:opacity-80;
}

.cl-userButtonPopoverCard {
  @apply shadow-lg border border-gray-100 rounded-lg dark:border-secondary;
}

.cl-formFieldInput {
  @apply focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring;
}

.cl-socialButtonsBlockButton {
  @apply focus:shadow-none dark:hover:bg-secondary dark:text-foreground dark:border-secondary;
}

.cl-navbarButton,
.cl-profileSectionContent button {
  @apply focus:shadow-none focus:ring-2 ring-zinc-900/50 dark:text-foreground dark:hover:bg-secondary;
}

.cl-formButtonReset {
  @apply text-gray-900 hover:bg-secondary focus:shadow-none focus:ring-2 ring-zinc-900/50 dark:text-foreground;
}

.cl-footerActionLink {
  @apply text-zinc-900 hover:text-zinc-900/90 active:text-zinc-900/90 focus:shadow-none dark:text-slate-500/50 dark:hover:text-foreground;
}

.cl-profileSectionPrimaryButton {
  @apply hover:bg-zinc-900/50 active:bg-zinc-900/50 text-zinc-900 hover:text-white font-extrabold focus:shadow-none focus:ring-2 ring-zinc-900/50;
}

.cl-formButtonPrimary {
  @apply bg-zinc-900 hover:bg-zinc-900/90 active:bg-zinc-900/90 focus:shadow-none dark:disabled:bg-secondary-foreground dark:disabled:text-primary-foreground dark:bg-secondary dark:hover:bg-slate-700 dark:text-secondary-foreground;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --success: 142 70.6% 45.3%;
    --success-foreground: 0 0% 98%;

    --ring: 240 5% 64.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
